<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Song</title>
  </head>
  <body>
    <h1>Others who added <%=@song.artist%> - <%=@song.title%></h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Times Added</th>
      </tr>
      <% @song.users_added.uniq.each do |user| %>
      <tr>
        <td><a href='/users/<%=user.id%>'><%=user.first_name%> <%=user.last_name%></a></td>
        <td><%=@song.users_added.where(id:user.id).count%></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
